@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Gloria+Hallelujah&family=Space+Mono:ital@1&display=swap');
#principal2{
  
    color: black;
    gap: 40px;
    align-content:center;
    flex-direction: row;
    display: flex;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 40px;
    text-align: justify; 
    margin: 30px 30px;
}

#tema2{
    background-color:#ecb0a5;
    border: 2px solid black;
    justify-content: center;
    flex-direction: row;
    display: flex;
    width: 15%;
    height: 15%;
    padding: 30px;
    gap: 40px;
    margin: 20px 20px;
} 
#boton2{
    gap: 40px;
    width: 10%;
    height: 10%;
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}